/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 févr. 2014, 14:21:35
    Author     : Geoffrey
*/

/* ---------- GENERAL ---------- */

body {
    background: #2c3338;
    color: #606468;
    padding-bottom: 70px;
    padding-top: 100px;
}


a {
	color: #eee;
	text-decoration: none;
}


a:hover {
	text-decoration: underline;
}

#loginForm{
    width: 300px;
    margin: 50px auto;
}

#loginForm input[type="text"], input[type="password"], input[type="email"] {
	background-color: #3b4148;
	border-radius: 3px;
	color: whitesmoke;
	margin-bottom: 1em;
	padding: 0 16px;
}

#loginForm input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #ee2c2c;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
}

#loginForm input[type="submit"]:hover {
	background-color: green;
}

#loginForm > p {
	text-align: center;
}

.footer{
    background-color: #3b4148;
    text-align: center;
    line-height: 40px;
}

/*
footer nav {
    background-color: #3b4148;
    position:absolute;
    bottom:0px;
    width: 100%;
    text-align: center;
}

/*
input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 20px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

/*
p {
	line-height: 1.5em;
}

*/


/* ---------- LOGIN ---------- */

/*
#login {
	margin: 50px auto;
	width: 280px;
}

#login form input {
	height: 50px;
}

#login form input[type="text"], input[type="password"], input[type="email"] {
	background-color: #3b4148;
	border-radius: 3px;
	color: whitesmoke;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 244px;
}

#login form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #ee2c2c;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	width: 280px;
}

#login form input[type="submit"]:hover {
	background-color: green;
}

#login > p {
	text-align: center;
}

footer {
    
    background-color: #3b4148;
    position:absolute;
    bottom:0px;
    width: 100%;
    text-align: center;
}

nav {
    width: 100%;
    border-radius: 0px;
}

nav li {  
    display: inline;  
    list-style: none;
    font-size: 2em;
}  

nav a {  
    display:inline-block;  
    margin: 0 50px 0px -20px;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
    text-transform: uppercase;
    font-size: 1em;

    font-weight: bold;
    letter-spacing: -1px;
}

#li_right {
    float: right;
}

*/
.red{
    background-color: #ee2c2c;
}


